DATABASE_URL=
DATABASE_URL_UNPOOLED=
MPESA_ENVIRONMENT=production
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_SHORTCODE=
MPESA_PASSKEY=
MPESA_CALLBACK_URL=https://example.com/api/payment/callback
MPESA_TRANSACTION_TYPE=CustomerPayBillOnline
SMTP_HOST=smtp.zoho.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=info@lobeliapearl.com
SMTP_PASS=
EMAIL_FROM=info@lobeliapearl.com
EMAIL_ADMIN=info@lobeliapearl.com
RESEND_API_KEY=
