DATABASE_URL=
DATABASE_URL_UNPOOLED=
MPESA_ENVIRONMENT=production
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_SHORTCODE=
MPESA_PASSKEY=
MPESA_CALLBACK_URL=
MPESA_TRANSACTION_TYPE=CustomerPayBillOnline
